/target/
/.settings/
/overrideProperties/
.commit
.idea/
*.iml
tmp/*log*
tmp/*docker*
tmp/pid
nohup.out
.classpath
.project
database/**/*
docs/_build
src/main/resources/scripts/node_modules/
.index/*
/.gradle/
.keystore
